@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --dark-bg: #121212;
  --dark-secondary-bg: #1e1e1e;
  --light-grey: #857777;
  --medium-grey: #696666;
  --dark-color: #d3d0e0;
  --highlight-color: #3c3649;
  --accent-color: #a59fad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: var(--light-grey);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
}

p, li {
  font-family: 'Roboto Mono', monospace;
  color: var(--medium-grey);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

/* Responsive Styles */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Additional Styling */
a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/* Button and Interactive Elements */
button {
  background-color: var(--dark-bg);
  color: var(--dark-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--highlight-color);
}
